@import 'variables';
@import 'mixin';
/*reset*/
html {overflow-y:scroll;}
body {
	margin:0; padding:0;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Heiti SC", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, SimSun, sans-serif;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}

.container{
	.shift{
		background-color:#EEECE1;
		a{
			text-decoration:none;
			color:#174873;
			font-weight:bold;
			padding:3px;
			display:inline-block;
			&:hover {
				color:#0A5FA2;
			}
		}
	}
	.top{
		width:100%;
		height:120px;
		background-color:#BD3835;
		span{
			display:inline-block;
			margin-top:20px;
			width:700px;
			color:#fff;
			float:left;
			font-size:160%;
		}
		img{
			float:left;
			width:100px;
			height:100px;
			margin:10px 40px 10px 130px;
		}
		input[type="text"]{
			width:200px;
			text-align:center;
			margin-top:40px;
			padding:8px;
		}
	}
	.nav{
		margin-top:3px;
		background-color:#B53835;
		height:55px;
		//padding-left:150px;
		ul {
			display: block;
			height: 100%;
			width: 100%;
			text-align: center;
		}
		li {
			display: inline-block;
			position: relative;
			height: 100%;
			width: 150px;
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -12px;
				right: 0;
				height: 24px;
				width: 3px;
				background: #FFF;
				//border-right:3px solid #fff;
			}
		}
		a {
			display: block;
			//padding-right:50px;
			text-decoration:none;
			//border-right:3px solid #fff;
			//width: 100%;
			//float:left;
			color:#fff;
			//margin:15px 20px;
			font-weight:bolder;
			font-size: 18px;
			line-height: 55px;
			&:hover {
				color:#000;
			}
		}		
		.no-border{
			&:after {
				position: absolute;
				top: 50%;
				margin-top: -12px;
				right: 0;
				height: 24px;
				width: 3px;
				background: #FFF;
				//border-right:3px solid #fff;
			}
		}
	}
	.main{
		width: 80%;
		max-width: 1280px;
		margin: 0 auto;
		.photobox{
			width: 100%;
			height: 400px;
			overflow: hidden;
			position: relative;
			img {
				width: 100%;
				height: 400px;
			}
		}
		.slider_bar {
			overflow: hidden;
			margin: 0 auto;
			max-width: 1280px;
			img{
				margin: 0;
				height: 120px;
				}
			}	
		}
	
		.content {
			width: 100%;
			font-size: 0;
			@extend %clearfix;
			.block {
				display: inline-block;
				float: left;
				width: 45%;
				font-size: 16px;
				margin:20px 0;	
			}
			li { 
			padding:5px 0;
			}
			a{
				color: #555;
				&:hover {
					color:#222;
				}
			}
			h1 {
				color:#0092C7;
				border-bottom: 2px solid #0092C7;
				margin-bottom:5px; 
			}
			.news_envents {
				margin-right: 10%;
				color:#555;
				ul span { float:right;margin-left: 2px; }
			}
			.useful_links {
				ul li {
					display: inline-block;
				}
			}
		}
		/*faculty.html*/
		.faculty{
			width: 80%;
			max-width: 1280px;
			margin: 0 auto;
		}

}
	/*
	.content{
		width: 100%;
		//height:300px;
		font-size: 0;
		h1{
			color:#0092C7;
			font-size:14 px;
			font-weight:bold;
		}
		a{
			text-decoration:none;
		}
		.news_envents{
			//margin:20px;
			display: inline-block;
			width: 50%;
			//position:absolute;
			//left:120px;
			//width:550px;
			font-size: 14px;
			color:#555;
			ul {
				font-size: 0;
				span{
					font-size: inhert;
					float:right;
				}
				li{
					list-style-type:disc;
					font-size: 14px;
					//padding-top:10px;
					//margin-left:20px;
				}
			}
			h1{
				color:#0092C7;
				//font-size:140%;
				font-size:14px;
				font-weight:bold;
				cursor:pointer;
			}

			a{
				font-size:14px;
				//font-size:90%;
				color:#555;
				&:hover {
					color:#222;
				}
			}
			
		}
		.useful_links{
			display: inline-block;
			width: 50%;
			font-size: 14px;
			//margin:20px;
			//left:770px;
			//width:450px;
			li{
				display: iinline-block;
				width: auto;
				//padding:18px 8px 5px 0;
				//float:left;
				text-align:center;
			}
			a{
				color:$primaryColor;
				text-decoration:underline;
				font-size:90%;
				&:hover{
					color:#9A0000;
				}
			}
		}
	}*/

	.footer{
		width: 100%;		
		//position:relative;
		text-align: center;
		//bottom:0px;
		background-color:#92D050;
		padding: 10px 0;
		span {
			font: $fontStack;
			display: block;
			text-align: center;
		}
	}
